body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
}

.list-movies-title {
  padding: 10px 0;
  background: #009B50;
  color: white;
  text-align: center;
  font-size: 16pt;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.movie-grid li {
  padding: 10px 15px;
  text-align: left;
}

.movie {
  width: 140px;
}

.movie-title,
.movie-year {
  font-size: 0.8em;
  text-align: center;
}

.movie-title {
  margin-top: 10px;
}

.movie-year {
  color: #999;
}


.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 128px;
    height: 193px;
}

.user-box {
    background-color: #FFF;
    border: 1px solid #009B50;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;
}

.user-box p {
    margin: 10px 0;
}

.user-box form input:not([type="submit"]),

.user-box form label {
    display: block;
    margin-bottom: 7px;
    margin-top: 7px;
}

.buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #009B50;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #edfff6;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #333;
    font: inherit;
    font-size: 0.85em;
    cursor: pointer;
}