{% extends "base.html" %}

{% block content %}
<div class="list-movies-title">
    <h1>"Welcome to MoviWebApp"</h1>
</div>
{% for user in users %}
    <a href="{{ url_for('list_users_movies', user_id=user.user_id) }}" style="text-decoration: none; color: inherit;">
        <div class="card">
            <h2>{{ user.name }}</h2>
        </div>
    </a>
{% endfor %}
<div class="card" style="margin-bottom: 0;">
    <h2>Add new user:</h2>
    <form action="{{ url_for('add_user') }}" method="post">
        <div>
            <label for="name"><strong>Name:</strong></label>
            <input type="text" id="name" name="name" required>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
