<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoviWebAgg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="list-movies-title">
    <h1>"Welcome to MoviWebApp"</h1>
</div>
{% for user in users %}
    <div class="card">
        <div>
        <h2>{{ user.name }}</h2>
        </div>
    </div>
    {% endfor %}
    <div class="card" style="margin-bottom: 0;">
        <h2>Add new user:</h2>
        <form action="{{ url_for('add_user') }}" method="post">
        <div>
          <label for="name"><strong>Name:</strong></label>
          <input type="text" id="name" name="name" required>
        </div>
        <input type="submit" value="Submit">
    </div>
</body>
</html>