<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoviWebAgg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="list-movies-title">
    <h1>{{ user.name }}'s favorite movies</h1>
</div>
<div>
    <ol class="movie-grid">
        {% for movie in movies %}
        <li>
        <div class="movie">
            <img class="movie-poster" src="{{ movie.poster_url }}" alt="Poster"/>
            <div class="movie-title"> {{ movie.title }}</div>
            <div class="movie-year"> {{ movie.year }}</div>
        </div>
		</li>
        {% endfor %}
    </ol>
</div>
</body>
</html>