{% extends "base.html" %}

{% block content %}
<div class="list-movies-title">
    <h1>{{ user.name }}'s favorite movies</h1>
</div>
<div class="top-buttons">
    <a href="{{ url_for('list_users') }}" class="button">Go back</a>
    <a href="#add-movie" class="button">Add new movie</a>
    <a href="{{ url_for('show_user_settings', user_id=user.user_id) }}" class="button">User's settings</a>
</div>
<div>
    <ol class="movie-grid">
        {% for movie in movies %}
        <li>
            <a href="{{ url_for('show_movie_details', user_id=user.user_id, movie_id=movie.movie_id) }}"
               style="text-decoration: none; color: inherit;">
                <div class="movie">
                    <img class="movie-poster"
                         src="{{ movie.poster_url or url_for('static', filename='default_poster.png') }}"
                         alt="{{ movie.title }} poster"/>
                    <div class="movie-title"> {{ movie.title }}</div>
                    <div class="movie-year"> {{ movie.year }}</div>
                    {% if movie.average_rating is not none %}
                    <div class="movie-rating">⭐ {{ "%.1f"|format(movie.average_rating) }} ({{ movie.number_of_ratings }})</div>
                    {% endif %}
                </div>
            </a>
        </li>
        {% endfor %}
    </ol>
</div>
<div class="card" id="add-movie" style="margin-bottom: 0;">
    <h2>Add new movie:</h2>
    <form action="{{ url_for('add_movie_by_title', user_id=user.user_id) }}" method="post">
        <div>
            <label for="title"><strong>Title:</strong></label>
            <input type="text" id="title" name="title" required>
            <label for="rating"><strong>Your rating:</strong></label>
            <input type="number" id="rating" name="rating" min="{{ lowest_rating }}" max="{{ highest_rating }}" step="{{ rating_step }}">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<a href="{{ url_for('add_movie_form', user_id=user.user_id) }}"
   style="text-decoration: none; color: inherit;">
    <div class="card" style="margin-bottom: 0;">
        <h2>Show more adding options</h2>
    </div>
</a>
{% endblock %}
